<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pryv JavaScript Lib – Browser Tests</title>
  <link rel="stylesheet" href="https://unpkg.com/mocha/mocha.css" />
</head>

<body>
  <div id="mocha"></div>
  <script src="https://unpkg.com/chai/chai.js"></script>
  <script src="https://unpkg.com/mocha/mocha.js"></script>

  <script class="mocha-init">
    mocha.setup('bdd');
    mocha.checkLeaks();
  </script>

  <script src="../pryv.js"></script>
  <script src="browser-tests.js"></script>

  <script>
    mocha.run();
  </script>
</body>
</html>
